{% extends 'base.html' %}

{% block title %}{{ user }}'s items{% endblock title %}

<div class="container">
{% block search_result %}
{% endblock search_result %}
</div>

{% block content %}
    <h2>Available Items</h2>
    {% for item_and_borrower in items_and_borrower %}
    <div class="card">
        <div class="card-body d-flex flex-row">
            <div class="d-flex flex-column">
                <a href="{% url 'item_detail' item_and_borrower.item.pk %}"><h4>{{ item_and_borrower.item.name }}</h4></a>
                <p class="text-success">Quantity Available: {{ item_and_borrower.available_quantity }}</p>
                {% if item_and_borrower.borrow_and_overdues %}
                <p class="text-danger">Item Borrow Record:</p>
                <div class="container">
                    <div class="row">
                        {% for borrow_and_overdue in item_and_borrower.borrow_and_overdues %}
                        <div class="col">
                            {% if borrow_and_overdue.overdue %}
                            <div class="card mb-3 p-3 bg-danger text-white">
                            {% else %}
                            <div class="card mb-3 p-3">
                            {% endif %}
                            <div class="row">
                                <p class="col"><strong>Borrower</strong>: <a href="{% url 'user_detail' borrow_and_overdue.borrow.borrower.pk %}">{{ borrow_and_overdue.borrow.borrower }}</a></br>
                                    <strong>Quantity</strong>: {{ borrow_and_overdue.borrow.quantity }} </br>
                                    <strong>Borrow Date</strong>: {{ borrow_and_overdue.borrow.borrow_date }} </br>
                                    <strong>Return Date</strong>: {{ borrow_and_overdue.borrow.return_date }}                     
                                </p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% if borrow_and_overdue.overdue %}
                                    <a href="{% url 'item_return' borrow_and_overdue.borrow.pk %}" role="button" class="btn bg-white">Mark as Returned</a>
                                    {% else %}
                                    <a href="{% url 'item_return' borrow_and_overdue.borrow.pk %}" role="button" class="btn btn-danger">Mark as Returned</a>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <p class="text-muted">None is currently borrowing this item</p>
                {% endif %}
                <p>{{ item_and_borrower.item.desc }}</p>
            </div>
        </div>
        <div class="card-footer">
            {% if item_and_borrower.borrow %}
            <a id="dummy_update_button" href="" class="btn" role="button">Edit</a>
            {% else %}
            <a href="{% url 'item_update' item_and_borrower.item.pk %}" class="btn" role="button">Edit</a>
            {% endif %}
            <a href="{% url 'item_delete' item_and_borrower.item.pk %}" class="btn" role="button">Delete</a>
        </div>
    </div>
    </br>
    {% empty %}
    <p>You don't have any available item. <a href="{% url 'item_new' %}">Add an item</a> to lend your unused items!</p>
    {% endfor %}

    <script>
        var dummy_update_button = document.getElementById('dummy_update_button')
        dummy_update_button.addEventListener("click", function(){
            alert("You can't update an item currently borrowed")
        })
    </script>
{% endblock content %}
