{% extends 'base.html' %}

{% block title %}Items Borrowed{% endblock title %}


    
{% block content %}
    {% for borrow_record in borrow_list %}
        <div class="card">
            <!-- <img src="{{ item.image.url }}" class="card-img-top" alt="item image"> -->
            <div class="card-body d-flex flex-row align items-start">
                <div class="d-flex flex-column">
                    <a  href="{% url 'item_detail' borrow_record.item_borrowed.pk %}"><h4>{{ borrow_record.item_borrowed.name }}</h4></a>
                    <p class="text-muted">Borrowed from {{ borrow_record.item_borrowed.owner }}</p>
                    <p>{{ borrow_record.item_borrowed.desc }}</p>
                </div>
            </div>
        </div>
        </br>
    {% empty %}
    <h2>Empty</h2>
    <p>You have not borrow any item. Use the search bar to start borrowing!</p>
    
    {% endfor %}
    
{% endblock content %}