{% extends 'base.html' %}

{% block title %}{{ user }}'s items{% endblock title %}

<div class="container">
{% block search_result %}
{% endblock search_result %}
</div>

{% block content %}
    <h2>My Items</h2>
    {% for item in items_list %}
    <div class="card">
        <!-- <img src="{{ item.image.url }}" class="card-img-top" alt="item image"> -->
        <div class="card-body">
            <a href="{% url 'item_detail' item.pk %}"><h4>{{ item.name }}</h4></a>
            {% if item.borrower %}
            <p class="text-danger">Status: Borrowed by {{ item.borrower }}</p>
            {% else %}
            <p class="text-success">Status: Available</p>
            {% endif %}
            <p>{{ item.desc }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'item_update' item.pk %}" class="btn" role="button">Edit</a>
            <a href="{% url 'item_delete' item.pk %}" class="btn" role="button">Delete</a>
        </div>
    </div>
    </br>
    {% endfor %}

{% endblock content %}
